.nav {
  background-color: #7ac0c0;
  color: black;
  display: flex;
  gap: 32px;
  height: 130px;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  justify-content: center;
  top: 0;

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 2rem;
    height: 100%;
    margin: 0 1rem;

    li {
      cursor: pointer;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

      a {
        color: #f6edd8;
      }
    }

    .logo_image {
      position: relative;
      top: 25px;
      z-index: 1000;
    }
  }

  hr {
    margin: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.25);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    z-index: 10;
    width: 100%;
    height: 0;
  }
}
